/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 23 авг. 2022 г., 8:52:30
    Author     : 041AlikinOS
*/

svg {
    transition: .3s;
}

svg:hover {
     fill: #0059a9;
     transform: translateY(-5%);                  
}






#employee-select.is-invalid, .was-validated #employee-select:invalid {
  border-color: #dc3545;
}

#employee-select.is-invalid:not([multiple]):not([size]), #employee-select.is-invalid:not([multiple])[size="1"], .was-validated #employee-select:invalid:not([multiple]):not([size]), .was-validated #employee-select:invalid:not([multiple])[size="1"] {
  padding-right: 4.125rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e"),url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-position: right .75rem center,center right 2.25rem;
  background-size: 16px 12px,calc(.75em + .375rem) calc(.75em + .375rem);
}

#employee-select {
  display: block;
  width: 100%;
  padding: .375rem 2.25rem .375rem .75rem;
    padding-right: 2.25rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
    border-top-color: rgb(206, 212, 218);
    border-right-color: rgb(206, 212, 218);
    border-bottom-color: rgb(206, 212, 218);
    border-left-color: rgb(206, 212, 218);
  border-radius: .375rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#employee-select {
  word-wrap: normal;
}

#content {
    
    height: 80vh; /* 100vh - 100% от высоты viewport(окна браузера) */
    overflow-y: scroll;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}
#leftbtnblock {
    margin-left: 15px;
}

#backbutton2 {
    margin-left: 15px;
}

#btnrightblock {
    
    margin-right: 15px;
}

}